.descBullits {
    margin: -65px auto 65px;
    padding: 45px 70px 0;
    width: 1030px;
    background-color: #fff;
}

.descBullits-desc {
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
}

.descBullits-item {
    padding: 50px 0 60px;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}
.descBullits-item:last-child {
    border-bottom: 0;
}

.descBullits-item-image {
    float: right;
    margin-right: 50px;
}
.descBullits-item:nth-child(even) .descBullits-item-image {
    float: left;
    margin-left: 50px;
}

.descBullits-item-title,
.descBullits-item-desc,
.descBullits-item-price {
    max-width: 480px;
}

.descBullits-item:nth-child(even) .descBullits-item-title,
.descBullits-item:nth-child(even) .descBullits-item-desc,
.descBullits-item:nth-child(even) .descBullits-item-price {
    margin-left: 530px;
}

.descBullits-item-title {
    font-size: 30px;
    font-family: 'circe-eb','Segoe UI', Arial, sans-serif;
}

.descBullits-item-desc {
    margin-bottom: 30px;
    line-height: 1.6em;
    font-size: 20px;
}

.descBullits-item-price {
    font-size: 0;
}

.descBullits-item-price-item {
    display: inline-block;
    vertical-align: top;
    padding: 25px 30px 25px;
    height: 60px;
    text-align: center;
    background-color: #fff6eb;
}
.descBullits-item-price-item-label {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    color: #545454;
}
.descBullits-item-price-item-val {
    display: block;
    font-size: 24px;
}