/* section calculate */
section.calculate {
    width: 100%;
    background: #f4f7ff;
}

section.calculate .wrap {
    width: 1170px;
    min-width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 90px;
}

section.calculate .wrap > .title {
    font-family: "circe-eb", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    padding-top: 65px;
    padding-bottom: 65px;
}

section.calculate .wrap > .title small {
    display: block;
    margin-top: 12px;
    font-size: 0.35em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #a5a5a5;
}

section.calculate .wrap .left, section.calculate .right {
    float: left;
}

section.calculate .wrap .left {
    margin-left: 36px;
    width: 584px;
    height: 450px;
    text-align: center;
}

section.calculate .wrap .left .img {
    position: relative;
    display: inline-block;
}

section.calculate .calculate-img-label {
    font-size: 16px;
    color: #bbb;
    background-color: #fff;
    white-space: nowrap;
}

section.calculate .wrap .left .w {
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 23px;
    background: url("windows/px.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/windows/px.png*/) 0 center repeat-x;
}
section.calculate .wrap .left .w:before,
section.calculate .wrap .left .w:after {
    display: block;
    content: " ";
    position: absolute;
    top: 7px;
    width: 1px;
    height: 10px;
    background-color: #e6e6e6;
}
section.calculate .wrap .left .w:before { left: 0; }
section.calculate .wrap .left .w:after { right: 0; }

section.calculate .wrap .left .h {
    display: table-cell;
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 100%;
    text-align: center;
    background: url("windows/px.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/windows/px.png*/) center 0 repeat-y;
    vertical-align: middle;
}
section.calculate .wrap .left .h:before,
section.calculate .wrap .left .h:after {
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    width: 10px;
    height: 1px;
    background-color: #e6e6e6;
}
section.calculate .wrap .left .h:before { top: 0; }
section.calculate .wrap .left .h:after { bottom: 0; }

section.calculate .wrap .left .w .calculate-img-label {
    display: inline-block;
    padding: 0 8px;
}

section.calculate .wrap .left .h .calculate-img-label {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -17px;
    padding: 5px 0;
    width: 100%;
}

.calculate .img-zero,
.calculate .img-one,
.calculate .img-two,
.calculate .img-three,
.calculate .img-balcony {
    display: none;
}

.calculate_zero     .img-zero     { display: block; }
.calculate_one      .img-one      { display: block; }
.calculate_two      .img-two      { display: block; }
.calculate_three    .img-three    { display: block; }
.calculate_balcony  .img-balcony  { display: block; }

section.calculate .wrap .calculate_zero .left .w {
    left: 8px;
    width: 418px;
}
section.calculate .wrap .calculate_zero .left .h {
    top: 7px;
    left: -48px;
    height: 409px;
}

section.calculate .wrap .calculate_one .left .w {
    left: 7px;
    width: 234px;
}
section.calculate .wrap .calculate_one .left .h {
    top: 8px;
    height: 415px;
}

section.calculate .wrap .calculate_two .left .w {
    left: 7px;
    width: 426px;
}
section.calculate .wrap .calculate_two .left .h {
    top: 8px;
    left: -48px;
    height: 415px;
}

section.calculate .wrap .calculate_three .left .w {
    left: 16px;
    width: 468px;
}
section.calculate .wrap .calculate_three .left .h {
    top: 3px;
    left: -40px;
    height: 376px;
}

section.calculate .wrap .calculate_balcony .left .w {
    top: -33px;
    left: 20px;
    width: 332px;
}
section.calculate .wrap .calculate_balcony .left .h {
    left: -43px;
    top: 17px;
    height: 253px;
}

section.calculate .wrap .right {
    width: 550px;
}

section.calculate .wrap .right .iradio {
    margin-bottom: 30px;
    max-width: 490px;
}

section.calculate .calculate-title {
    font-size: 18px;
    text-align: left;
    font-family: "circe-l";
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section.calculate .wrap .right .iradio .els.r {
}

section.calculate .wrap .right .iradio .els.r .row {
    margin-bottom: 25px;
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    /*text-justify: newspaper;*/
    zoom: 1;
    text-align-last: justify;
}

section.calculate .wrap .right .iradio .els.r .row:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

section.calculate .wrap .right .iradio .els.r .row:last-child {
    margin-bottom: 0;
}

section.calculate .wrap .right .iradio .els.r .row .el {
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
}
section.calculate .wrap .right .iradio .els.r .row .el.active {
    cursor: default;
}
input {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

section.calculate .iradio .el .icon {
    width: 100%;
    height: 52px;
    background: center top no-repeat;
}
section.calculate .iradio .el .icon_1           { background-image: url("win_types/tw1.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw1.png*/) }
section.calculate .iradio .el:hover .icon_1     { background-image: url("win_types/tw1-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw1-hover.png*/) }
section.calculate .iradio .el.active .icon_1    { background-image: url("win_types/tw1-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw1-active.png*/) }

section.calculate .iradio .el .icon_2           { background-image: url("win_types/tw2.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw2.png*/) }
section.calculate .iradio .el:hover .icon_2     { background-image: url("win_types/tw2-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw2-hover.png*/) }
section.calculate .iradio .el.active .icon_2    { background-image: url("win_types/tw2-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw2-active.png*/) }

section.calculate .iradio .el .icon_3           { background-image: url("win_types/tw3.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw3.png*/) }
section.calculate .iradio .el:hover .icon_3     { background-image: url("win_types/tw3-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw3-hover.png*/) }
section.calculate .iradio .el.active .icon_3    { background-image: url("win_types/tw3-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw3-active.png*/) }

section.calculate .iradio .el .icon_4           { background-image: url("win_types/tw4.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw4.png*/) }
section.calculate .iradio .el:hover .icon_4     { background-image: url("win_types/tw4-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw4-hover.png*/) }
section.calculate .iradio .el.active .icon_4    { background-image: url("win_types/tw4-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw4-active.png*/) }

section.calculate .wrap .right .iradio .els.r .row .el .icon img {
    margin: 0 auto;
}

section.calculate .wrap .right .iradio .el.active img.active,
section.calculate .wrap .right .iradio .el img.noActive {
    display: block;
}
section.calculate .wrap .right .iradio .el img.active,
section.calculate .wrap .right .iradio .el.active img.noActive {
    display: none;
}

section.calculate .wrap .right .iradio .els.r .row .el .name {
    text-align: center;
    margin-top: 10px;
    text-align-last: center;
    font-size: 16px;
}

section.calculate .iradio .el .name span {
    color: #5367ff;
    border-bottom: 1px dotted #5367ff;
}
section.calculate .iradio .el:hover .name span {
    color: #ff9227;
    border-color: #ff9227;
}
section.calculate .iradio .el.active .name span,
section.calculate .iradio .el.active:hover .name span {
    color: #000;
    border: 0;
}

/* FORM */

section.calculate .left .calculate-form {
    margin-left: 70px;
    margin-bottom: 60px;
    text-align: left;
}

.calculate-fieldsLine {
    margin-bottom: 30px;
}

section.calculate .calculate-textInput {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

section.calculate .calculate-textInput-input {
    display: block;
    width: 80px;
    border: 1px solid #5367ff;
    padding: 10px;
    font-family: "circe-l";
    font-size: 24px;
    color: #000;
    line-height: 24px;
    border-radius: 2px;
}
section.calculate .calculate-textInput-input:focus {
    border-color: #ff9227;
}

section.calculate .calculate-textInput-label {
    font-size: 16px;
    color: #a8b8d1;
    background-color: #fff;
    white-space: nowrap;
}

section.calculate .calculate-form-def {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 15px 0;
    width: 13px;
    height: 13px;
    top: 50px;
    left: 133px;
    background: url("tibg.gif"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/tibg.gif*/) 0 0 no-repeat;
}

section.calculate .wrap .right .two-input .label {
    font-size: 16px;
    color: #b6b6b6;
    margin-bottom: 5px;
}

.calculate-fieldsTable {
    margin-bottom: 30px;
    width: 90%;
    font-size: 16px;
}
.calculate-fieldsTable-label,
.calculate-fieldsTable-col {
    vertical-align: top;
    padding: 0 10px 20px 0;
}
.calculate-fieldsTable-label {
    width: 40%;
    line-height: 1.25em;
}
.calculate-fieldsTable-col {
    width: 30%;
}

.calculate-radio-item {
    position: relative;
    margin-bottom: 5px;
    padding-left: 28px;
    cursor: pointer;
}
.calculate-radio-item:before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url("radio.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/radio.png*/) left -16px no-repeat;
}
.calculate-radio-item:hover:before {
    background-position: left -32px;
}
.calculate-radio-item.active {
    cursor: default;
}
.calculate-radio-item.active:before {
    background-position: left 0;
}

/* RESULT */

section.calculate .wrap .right .result {
    padding: 37px 30px 20px 30px;
    background: #fff9ee;
    margin-top: 30px;
    max-width: 450px;
}

section.calculate .wrap .right .result .summary {
    float: left;
}

section.calculate .wrap .right .result .summary .label {
    font-family: "circe-l";
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
}

section.calculate .wrap .right .result .summary .price {
    font-size: 48px;
}

section.calculate .wrap .right .result .buy {
    float: right;
    text-align: center;
    margin-left: 30px;
}

section.calculate .wrap .right .result .buy a.button-yellow {
    margin-bottom: 15px;
}

section.calculate .wrap .right .result .buy a.simple {
    text-decoration: none;
    color: #3b6efa;
    font-size: 16px;
}

/* NEW STYLES */

.calculate-types {
    margin-bottom: 90px;
    text-align: center;
    height: 52px;
}
.calculate-types-item {
    display: inline-block;
    margin: 0 45px;
    padding-left: 100px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    background: left top no-repeat;
    cursor: pointer;
}
.calculate-types-item.active {
    cursor: default;
}
.calculate-types_window           { background-image: url("win_types/tw3.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw3.png*/); }
.calculate-types_window:hover     { background-image: url("win_types/tw3-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw3-hover.png*/); }
.calculate-types_window.active    { background-image: url("win_types/tw3-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/tw3-active.png*/); }

.calculate-types_block           { background-image: url("win_types/block.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/block.png*/); }
.calculate-types_block:hover     { background-image: url("win_types/block-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/block-hover.png*/); }
.calculate-types_block.active    { background-image: url("win_types/block-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/block-active.png*/); }

.calculate-types_balcony           { background-image: url("win_types/balcon.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/balcon.png*/); }
.calculate-types_balcony:hover     { background-image: url("win_types/balcon-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/balcon-hover.png*/); }
.calculate-types_balcony.active    { background-image: url("win_types/balcon-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/balcon-active.png*/); }

.calculate-types_loggia           { background-image: url("win_types/loggia.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/loggia.png*/); }
.calculate-types_loggia:hover     { background-image: url("win_types/loggia-hover.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/loggia-hover.png*/); }
.calculate-types_loggia.active    { background-image: url("win_types/loggia-active.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/calc/win_types/loggia-active.png*/); }

.calculate-types-item span {
    color: #3b6efa;
    border-bottom: 1px dotted #3b6efa;
}
.calculate-types-item:hover span {
    color: #ff9227;
    border-color: #ff9227;
}
.calculate-types-item.active span {
    color: #000000;
    border: none;
}

/* \section calculate */