.transition {
    -moz-transition: all 0.075s ease-out;
    -webkit-transition: all 0.075s ease-out;
    -o-transition: all 0.075s ease-out;
    transition: all 0.075s ease-out;
}

.px {
    line-height: 1px;
    font-size: 1px !important;
}

/* footer */
footer {
    width: 100%;
    background: #2e2e2e;
}

footer .wrap {
    display: table;
    margin: 0 auto;
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    overflow: hidden;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
}

footer .left {
    display: table-cell;
    width: 25%;
    height: 90px;
    vertical-align: middle;
    font-size: 14px;
    color: #777;
    line-height: 20px;
    font-family: "circe-r";
}

footer .right {
    display: table-cell;
    width: 25%;
    height: 90px;
    vertical-align: middle;
}

footer .center {
    display: table-cell;
    width: 50%;
    height: 90px;
    vertical-align: middle;
}

footer .right .ds {
    color: #777;
    font-size: 14px;
    line-height: 20px;
    background: url("../images/dslogo.png"/*tpa=http://lipetsk.km-okna.ru/global/images/dslogo.png*/) left top no-repeat;
    min-height: 45px;
    padding-left: 46px;
    padding-top: 5px;
}

footer .center .els {
    width: 300px;
    margin: 0 auto;
}

footer .center .els .el {
    width: 50px;
    height: 50px;
    background: #373737;
    float: left;
    margin-right: 10px;
    border-radius: 25px;
    display: block;
}

footer .center .els .el:last-child {
    margin-right: 0;
}

footer .center .els .el.vk {
    background: url("../images/sv.png"/*tpa=http://lipetsk.km-okna.ru/global/images/sv.png*/) center center no-repeat #373737;
}

footer .center .els .el.fb {
    background: url("../images/sf.png"/*tpa=http://lipetsk.km-okna.ru/global/images/sf.png*/) center center no-repeat #373737;
}

footer .center .els .el.ins {
    background: url("../images/si.png"/*tpa=http://lipetsk.km-okna.ru/global/images/si.png*/) center center no-repeat #373737;
}

footer .center .els .el.ok {
    background: url("../images/so.png"/*tpa=http://lipetsk.km-okna.ru/global/images/so.png*/) center center no-repeat #373737;
}

footer .center .els .el.ytube {
    background: url("../images/sy.png"/*tpa=http://lipetsk.km-okna.ru/global/images/sy.png*/) center center no-repeat #373737;
}

/* \footer */

/* section footer-link */
section.footer-link {
    width: 100%;
    background: #3e3e3e;
}

section.footer-link .wrap {
    margin: 0 auto;
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
}

section.footer-link .wrap .row {
}

section.footer-link .wrap .row .block {
    float: left;
    margin-right: 22px;
}

section.footer-link .wrap .row .block:nth-child(1) {
    width: 160px;
}

section.footer-link .wrap .row .block:nth-child(2) {
    width: 200px;
}

section.footer-link .wrap .row .block:nth-child(3) {
    width: 200px;
}

section.footer-link .wrap .row .block:nth-child(4) {
    width: 150px;
}

section.footer-link .wrap .row .block:nth-child(5) {
    width: 180px;
}

section.footer-link .wrap .row .block:nth-child(6) {
    width: 170px;
}

section.footer-link .wrap .row .block:last-child {
    margin-right: 0;
}

section.footer-link .wrap .row .block .title {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
}

section.footer-link .wrap .row .block .links {
    margin-top: 35px;
    margin-bottom: 45px;
}

section.footer-link .wrap .row .block .links a {
    display: block;
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 10px;
    text-decoration: none;
}

section.footer-link .wrap .row .block .links a:hover {
    color: #fff;
}

section.footer-link .wrap .row .block .links a:last-child {
    margin-bottom: 0;
}

/* \section footer-link */

/* section fheader */
section.fheader {
    width: 100%;
    background: #2e2e2e;
}

section.fheader .wrap {
    margin: 0 auto;
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    height: 86px;
    min-height: 86px;
    max-height: 86px;
    display: block;
    text-align: center;
}

/*section.fheader .wrap .left {
    float: left;
}

section.fheader .wrap .right {
    float: right;
    text-align: right;
}*/

/*section.fheader .wrap .left .logo,
section.fheader .wrap .left .phone {
    float: left;
}*/

section.fheader .wrap .left .logo {
    display: inline-block;
    min-height: 21px;
    text-transform: uppercase;
    font-family: "circe-eb";
    font-size: 24px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 8px;
    padding: 9px 0 0 42px;
    line-height: 16px;
    background: url("../images/km_footer.png"/*tpa=http://lipetsk.km-okna.ru/global/images/km_footer.png*/) left top no-repeat;
}

section.fheader .wrap .desc {
    letter-spacing: 0.05em;
    font-size: 14px;
    font-family: "circe-l";
    color: #fff;
    opacity: 0.33;
}

section.fheader .wrap .left .phone {
    padding-left: 83px;
}

section.fheader .wrap .left .phone .p,
section.fheader .wrap .left .phone .i {
    float: left;
}

section.fheader .wrap .left .phone .p {
    font-size: 22px;
    color: #fff;
    line-height: 19px;
    padding-top: 32px;
}

section.fheader .wrap .left .phone .p span {
    font-family: "circe-b";
}

section.fheader .wrap .left .phone .i {
    font-family: "circe-l";
    font-size: 14px;
    color: #fff;
    margin-left: 22px;
    padding-top: 22px;
    line-height: 18px;
}

section.fheader .wrap .right .review {
    float: right;
    font-family: "circe-l";
    font-size: 16px;
    color: #fff;
    line-height: 15px;
    padding-top: 35px;
    position: relative;
}

section.fheader .wrap .right .review sup {
    line-height: 0;
    font-size: 14px;
    position: relative;
    top: -6px;
}

section.fheader .wrap .right a {
    float: right;
    margin-top: 20px;
    margin-left: 30px;
}

/* \section fheader */

/* section footer-link */
section.footer-link-additional {
    width: 100%;
    background: #fff;
}

section.footer-link-additional .wrap {
    margin: 0 auto;
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
}

section.footer-link-additional .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    text-align: center;
    color: #000;
    line-height: 36px;
    padding-top: 62px;
    padding-bottom: 35px;
}

section.footer-link-additional .wrap .row {
}

section.footer-link-additional .wrap .row:last-child {
    padding-bottom: 35px;
}

section.footer-link-additional .wrap .row .block {
    float: left;
    margin-right: 22px;
}

section.footer-link-additional .wrap .row .block:nth-child(1) {
    width: 200px;
}

section.footer-link-additional .wrap .row .block:nth-child(2) {
    width: 250px;
}

section.footer-link-additional .wrap .row .block:nth-child(3) {
    width: 260px;
}

section.footer-link-additional .wrap .row .block:nth-child(4) {
    width: 200px;
}

section.footer-link-additional .wrap .row .block:nth-child(5) {
    width: 150px;
}

section.footer-link-additional .wrap .row .block:last-child {
    margin-right: 0;
}

section.footer-link-additional .wrap .row .block .title {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    margin-top: 25px;
}

section.footer-link-additional .wrap .row .block .links {
    margin-top: 20px;
    margin-bottom: 30px;
}

section.footer-link-additional .wrap .row .block .links a {
    display: block;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    text-decoration: none;
}

section.footer-link-additional .wrap .row .block .links a:hover {
    color: #000;
}

section.footer-link-additional .wrap .row .block .links a:last-child {
    margin-bottom: 0;
}

/* \section footer-link */

/* section footer-call */
section.footer-call {
    width: 100%;
    background: linear-gradient(180deg, #f4f7ff 75%, #fff 25%);
    padding-top: 70px;
}

section.footer-call .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
    padding-bottom: 20px;
    /* Old browsers */
    background: #ffb300;
    /* FF3.6-15 */
    background: -moz-linear-gradient(left, #ffb300 0%, #ff7c39 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(left, #ffb300 0%, #ff7c39 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to right, #ffb300 0%, #ff7c39 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb300',
    endColorstr='#ff7c39', GradientType=1);
}

section.footer-call .wrap > .title {
    font-family: "circe-l";
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    padding-top: 30px;
    margin-bottom: 30px;
}

section.footer-call .wrap > .title span {
    font-family: "circe-eb";
    display: inline-block;
    position: relative;
    padding: 0;
}

section.footer-call .wrap > .title span .border {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 5px;
    left: 0;
}

section.footer-call .els.bencall {
    display: table;
    margin: 0 auto;
}

section.footer-call .els.bencall .el {
    float: left;
    width: 270px;
    height: 131px;
    margin-right: 7px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
section.footer-call .els.bencall .el_noclick {
    cursor: default;
}
section.footer-call .els.bencall .el:hover {
    background: rgba(255, 255, 255, 0.25);
}

section.footer-call .els.bencall .el:nth-child(1) {
    background: rgba(255, 255, 255, 0.2);
}
section.footer-call .els.bencall .el:nth-child(1):hover {
    background: rgba(255, 255, 255, 0.33);
}

section.footer-call .els.bencall .el:last-child {
    margin-right: 0;
}

section.footer-call .els.bencall .el .icon {
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-left: 25px;
}

section.footer-call .els.bencall .el .icon img {
}

section.footer-call .els.bencall .el .info {
    font-size: 18px;
    color: #fff;
    display: block;
    height: 61px;
    line-height: 20px;
    padding: 0 25px;
}

/* \section footer-call */

/* section encyclopedia */
section.encyclopedia {
    width: 100%;
    background: #f4f7ff;
}

section.encyclopedia .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
    padding-top: 70px;
}

section.encyclopedia .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    line-height: 36px;
    position: relative;
    margin-bottom: 50px;
}

section.encyclopedia .wrap > .title a.button-border-yellow {
    position: absolute;
    top: 0;
    right: 0;
}

section.encyclopedia .wrap .els.article {
}

section.encyclopedia .wrap .els.article .row {
}

section.encyclopedia .wrap .els.article .row .el {
    float: left;
    width: 370px;
    max-width: 370px;
    min-width: 370px;
    margin-right: 30px;
}

section.encyclopedia .wrap .els.article .row .el:last-child {
    margin-right: 0;
}

section.encyclopedia .wrap .els.article .row .el .image {
    width: 370px;
    height: 270px;
    max-height: 270px;
    max-width: 370px;
    border-radius: 2px 2px 0 0;
    text-align: center;
    position: relative;
}

section.encyclopedia .wrap .els.article .row .el .image img {
    border-radius: 2px 2px 0 0;
    max-width: 370px;
    max-height: 270px;
}

section.encyclopedia .wrap .els.article .row .el .image .labels {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

section.encyclopedia .wrap .els.article .row .el .image .labels .label {
    float: left;
    line-height: 11px;
    background: #3d82ff;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px 14px;
    color: #fff;
    margin-right: 10px;
}

section.encyclopedia .wrap .els.article .row .el .image .labels
.label:last-child {
    margin-right: 0;
}

section.encyclopedia .wrap .els.article .row .el .image .labels .label.a {
    background: url("../images/earticle.png"/*tpa=http://lipetsk.km-okna.ru/global/images/earticle.png*/) 9px 7px no-repeat #fea62e;
    padding-left: 22.5px;
}

section.encyclopedia .wrap .els.article .row .el .image .labels .label.v {
    background: url("../images/evideo.png"/*tpa=http://lipetsk.km-okna.ru/global/images/evideo.png*/) 8px 7px no-repeat #fea62e;
    padding-left: 22.5px;
}

section.encyclopedia .wrap .els.article .row .el .info {
    background: #fff;
    padding: 20px 30px 25px 30px;
}

section.encyclopedia .wrap .els.article .row .el .info .title {
    font-size: 24px;
    color: #000;
    line-height: 30px;
}

section.encyclopedia .wrap .els.article .row .el .info .desc {
    line-height: 20px;
    font-family: "circe-l";
    font-size: 18px;
    color: #acacac;
    margin-top: 20px;
}

/* \section encyclopedia */

/* section about */
section.about {
    width: 100%;
    background: #f4f7ff;
    padding-top: 90px;
}

section.about .wrap {
    width: 970px;
    min-width: 970px;
    max-width: 970px;
    margin: 0 auto;
    background: #fff;
    padding: 75px 100px 80px 100px;
}

section.about .wrap .left {
    float: left;
    width: 470px;
    margin-right: 50px;
}

section.about .wrap .left .title {
    font-family: "circe-eb";
    font-size: 40px;
    color: #000;
    line-height: 48px;
}

section.about .wrap .left .desc {
    margin-top: 60px;
}

section.about .wrap .left .desc p {
    font-family: "circe-l";
    font-size: 18px;
    color: #000;
    margin-bottom: 25px;
    line-height: 24px;
}

section.about .wrap .left .desc p:last-child {
    margin-bottom: 0;
}

section.about .wrap .left a.button-border-yellow {
    margin-top: 60px;
    padding: 17px 32px;
}

section.about .wrap .right {
    float: left;
    width: 450px;
}

section.about .wrap .right .els.abenefit {
}

section.about .wrap .right .els.abenefit .el {
    margin-bottom: 55px;
}

section.about .wrap .right .els.abenefit .el:last-child {
    margin-bottom: 0;
}

section.about .wrap .right .els.abenefit .el .image {
    float: left;
    width: 80px;
    margin-right: 20px;
    padding-top: 10px;
}

section.about .wrap .right .els.abenefit .el .image img {
}

section.about .wrap .right .els.abenefit .el .info {
    float: left;
    width: 350px;
}

section.about .wrap .right .els.abenefit .el .info .title {
    font-size: 24px;
    color: #000;
}

section.about .wrap .right .els.abenefit .el .info .desc {
    font-size: 18px;
    color: #acacac;
}

/* \section about */

/* section project-example */
section.project-example {
    width: 100%;
    background: #f4f7ff;
    padding-top: 75px;
}

section.project-example .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
}

section.project-example .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    line-height: 36px;
    position: relative;
    margin-bottom: 50px;
}

section.project-example .wrap > .title a.button-border-yellow {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 54px;
    background: url("../images/petb.png"/*tpa=http://lipetsk.km-okna.ru/global/images/petb.png*/) 28px 13px no-repeat;
}

section.project-example .wrap > .title .abs-radio {
    position: absolute;
    top: 0;
    right: 35%;
}

section.project-example .wrap .slider {
}

section.project-example .wrap .slider .left {
    width: 870px;
    float: left;
    margin-right: 30px;
    height: 601px;
    position: relative;
    background-color: #9abbff;
}

section.project-example .wrap .slider .left .cimage {
    text-align: center;
}

section.project-example .wrap .slider .left .cimage img {
    display:  inline-block;
    border-radius: 2px;
    max-width: 870px;
    max-height: 600px;
}

section.project-example .wrap .slider .left .abs-images {
    display: none;
}

section.project-example .wrap .slider .right {
    width: 200px;
    float: left;
    padding: 30px 35px;
    background: #fff;
}

section.project-example .wrap .slider .right .top {
    font-size: 24px;
    color: #000;
    height: 420px;
}

section.project-example .wrap .slider .right .bottom {
    height: 121px;
}

section.project-example .wrap .slider .right .bottom a.button-yellow {
}

section.project-example .wrap .slider .right .bottom .scontrol {
    width: 100%;
    height: 45px;
    margin-top: 30px;
}

section.project-example .wrap .slider .right .bottom .scontrol .i {
    float: left;
    width: 110px;
    text-align: center;
    padding-top: 14px;
}

section.project-example .wrap .slider .right .bottom .scontrol .r,
section.project-example .wrap .slider .right .bottom .scontrol .l {
    float: left;
    width: 43px;
    height: 43px;
    cursor: pointer;
    border: 1px solid #dde1ff;
    border-radius: 25px;
}

section.project-example .wrap .slider .right .bottom .scontrol .l {
    background: url("../images/ps-left.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-left.png*/) center center no-repeat;
}

section.project-example .wrap .slider .right .bottom .scontrol .r {
    background: url("../images/ps-right.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-right.png*/) center center no-repeat;
}

section.project-example .wrap .slider .right .bottom .scontrol .r:hover,
section.project-example .wrap .slider .right .bottom .scontrol .l:hover {
    border-color: #508bff;
    background-color: #e8f0ff;
}

section.project-example .wrap .slider .right .bottom .scontrol .i span {
    font-size: 18px;
    color: #508bff;
    line-height: 0;
}

/* \section project-example */

/* section review */
section.review {
    width: 100%;
    background: #f4f7ff;
}

section.review .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
    padding-top: 70px;
}

section.review .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    line-height: 36px;
    position: relative;
    margin-bottom: 50px;
}

section.review .wrap > .title a.button-border-yellow {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 45px;
    background: url("../images/rtb.png"/*tpa=http://lipetsk.km-okna.ru/global/images/rtb.png*/) 24px 13px no-repeat;
    padding-right: 18px;
}

section.review .wrap .els.rev {
}

section.review .wrap .els.rev .row {
}

section.review .wrap .els.rev .row .el {
    float: left;
    width: 370px;
    max-width: 370px;
    min-width: 370px;
    margin-right: 30px;
}

section.review .wrap .els.rev .row .el:last-child {
    margin-right: 0;
}

section.review .wrap .els.rev .row .el .image {
    width: 370px;
    height: 340px;
    max-height: 340px;
    max-width: 370px;
    border-radius: 2px 2px 0 0;
    text-align: center;
    position: relative;
    cursor: pointer;
}

section.review .wrap .els.rev .row .el .image img {
    border-radius: 2px 2px 0 0;
    max-width: 370px;
    max-height: 340px;
}

section.review .wrap .els.rev .row .el .image .play {
    position: absolute;
    top: 123px;
    left: 138px;
    background: url("../images/rplay.png"/*tpa=http://lipetsk.km-okna.ru/global/images/rplay.png*/) 0 0 no-repeat;
    width: 94px;
    height: 94px;
    z-index: 1;
}

section.review .wrap .els.rev .row .el .info {
    background: #fff;
    padding: 20px 30px 25px 30px;
}

section.review .wrap .els.rev .row .el .info .title {
    font-size: 24px;
    color: #000;
    line-height: 30px;
}

section.review .wrap .els.rev .row .el .info .desc {
    line-height: 20px;
    font-family: "circe-l";
    font-size: 18px;
    color: #acacac;
    margin-top: 20px;
}

/* \section review */

/* section work-scheme */
section.work-scheme {
    width: 100%;
    background: #f4f7ff;
    padding-top: 70px;
}

section.work-scheme .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
    background: #fff;
}

section.work-scheme .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    color: #000;
    text-align: center;
    line-height: 36px;
    padding-top: 45px;
    margin-bottom: 55px;
}

section.work-scheme .els.sbenefit {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-left: 60px;
}

section.work-scheme .els.sbenefit .el {
    float: left;
    margin-right: 30px;
}

section.work-scheme .els.sbenefit .el:nth-child(1) {
    width: 205px;
}

section.work-scheme .els.sbenefit .el:nth-child(2) {
    width: 200px;
}

section.work-scheme .els.sbenefit .el:nth-child(3) {
    width: 170px;
}

section.work-scheme .els.sbenefit .el:nth-child(3) .icon {
    padding-top: 10px;
}

section.work-scheme .els.sbenefit .el:nth-child(3) .icon {
    height: 90px;
}

section.work-scheme .els.sbenefit .el:nth-child(4) {
    width: 225px;
}

section.work-scheme .els.sbenefit .el:nth-child(5) {
    width: 130px;
}

section.work-scheme .els.sbenefit .el:last-child {
    margin-right: 0;
}

section.work-scheme .els.sbenefit .el .icon {
    height: 100px;
}

section.work-scheme .els.sbenefit .el .icon img {
}

section.work-scheme .els.sbenefit .el .info {
    color: #000;
}

section.work-scheme .els.sbenefit .el .info .title {
    font-size: 18px;
}

section.work-scheme .els.sbenefit .el .info .desc {
    color: #acacac;
    font-family: "circe-l";
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
}

/* \section work-scheme */

/* section constituent */
section.constituent {
    width: 100%;
    background: #f4f7ff;
    padding-top: 70px;
}

section.constituent .wrap {
    width: 1170px;
    min-width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
    background: #fff;
}

section.constituent .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    text-align: center;
    line-height: 36px;
    padding-top: 50px;
    padding-bottom: 40px;
}

section.constituent .wrap .tabs {
    width: 990px;
    margin: 0 auto;
}

section.constituent .wrap .tabs .navs {
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    /*text-justify: newspaper;*/
    zoom: 1;
    text-align-last: justify;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section.constituent .wrap .tabs .navs:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

section.constituent .wrap .tabs .navs .nav {
    width: 150px;
    position: relative;
    height: 50px;
    font-size: 16px;
    display: inline-block;
    line-height: normal;
    vertical-align: top;
}

section.constituent .wrap .tabs .navs .nav .link {
    text-align: center;
}

section.constituent .wrap .tabs .navs .nav a {
    color: #2d72fc;
    border-bottom: 1px dotted #2d72fc;
    text-decoration: none;
    display: table;
    margin: 0 auto;
}

section.constituent .wrap .tabs .navs .nav.active a {
    cursor: default;
    color: #000;
    border: none;
    text-decoration: none;
}

section.constituent .wrap .tabs .navs .nav .border {
    display: none;
    background: #6299ff;
    width: 100%;
    height: 3px;
}

section.constituent .wrap .tabs .navs .nav.active {
}

section.constituent .wrap .tabs .navs .nav.active .border {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
}

section.constituent .wrap .tabs .contents {
    clear: both;
    border-top: 1px solid #f0f0f0;
    padding-bottom: 55px;
}

section.constituent .wrap .tabs .contents .tab {
    display: table;
}

section.constituent .wrap .tabs .contents .tab .left {
    width: 495px;
    display: table-cell;
    vertical-align: middle;
}

section.constituent .wrap .tabs .contents .tab .right {
    max-width: 495px;
    display: table-cell;
}

section.constituent .wrap .tabs .contents .tab .left .title {
    font-size: 30px;
    color: #000;
}

section.constituent .wrap .tabs .contents .tab .left .desc {
    font-family: "circe-l";
    font-size: 18px;
    color: #000;
    line-height: 24px;
    margin-top: 15px;
    max-width: 400px;
}

section.constituent .wrap .tabs .contents .tab .right img {
}

/* \section constituent */

/* section big-benefit */
section.big-benefit {
    width: 100%;
    background: #f4f7ff;
    padding-top: 70px;
}

section.big-benefit .wrap {
    padding: 60px 70px;
    background: #fff;
    width: 1030px;
    max-width: 1030px;
    min-width: 1030px;
    margin: 0 auto;
}

section.big-benefit .wrap .left {
    width: 480px;
    margin-right: 120px;
    float: left;
}

section.big-benefit .wrap .left .title {
    font-family: "circe-eb";
    font-size: 40px;
    line-height: 46px;
}

section.big-benefit .wrap .left .desc {
    margin-top: 50px;
    max-width: 440px;
}

section.big-benefit .wrap .left .desc p {
    font-family: "circe-l";
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

section.big-benefit .wrap .left .desc p:last-child {
    margin-bottom: 0;
}

section.big-benefit .wrap .right {
    width: 430px;
    float: left;
}

section.big-benefit .wrap .right .tabs {
    position: relative;
}

section.big-benefit .wrap .right .tabs .abs-control {
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
}

section.big-benefit .wrap .right .tabs .abs-control .r,
section.big-benefit .wrap .right .tabs .abs-control .l {
    float: left;
    width: 43px;
    height: 43px;
    cursor: pointer;
    border: 1px solid #dde1ff;
    border-radius: 25px;
}

section.big-benefit .wrap .right .tabs .abs-control .l {
    background: url("../images/ps-left.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-left.png*/) center center no-repeat;
    margin-right: 20px;
}

section.big-benefit .wrap .right .tabs .abs-control .r {
    background: url("../images/ps-right.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-right.png*/) center center no-repeat;
}

section.big-benefit .wrap .right .tabs .abs-control .r:hover,
section.big-benefit .wrap .right .tabs .abs-control .l:hover {
    border-color: #508bff;
    background-color: #e8f0ff;
}

section.big-benefit .wrap .right .tabs .tab {
}

section.big-benefit .wrap .right .tabs .tab .icon {
}

section.big-benefit .wrap .right .tabs .tab .title {
    clear: both;
    font-size: 30px;
    margin-top: 35px;
}

section.big-benefit .wrap .right .tabs .tab .desc {
    font-family: "circe-l";
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
}

/* \section big-benefit */

/* section montage */
section.montage {
    width: 100%;
    background: #f4f7ff;
    padding-top: 70px;
}

section.montage .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
    background: #fff;
}

section.montage .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    color: #000;
    text-align: center;
    line-height: 36px;
    padding-top: 45px;
    margin-bottom: 55px;
}

section.montage .els.sbenefit {
    margin: 0 auto;
    padding-bottom: 70px;
    padding-left: 40px;
}

section.montage .els.sbenefit .el {
    float: left;
    margin-right: 35px;
}

section.montage .els.sbenefit .el:nth-child(1) {
    width: 265px;
}

section.montage .els.sbenefit .el:nth-child(2) {
    width: 260px;
}

section.montage .els.sbenefit .el:nth-child(3) {
    width: 230px;
}

section.montage .els.sbenefit .el:nth-child(4) {
    width: 230px;
}

section.montage .els.sbenefit .el:last-child {
    margin-right: 0;
}

section.montage .els.sbenefit .el .icon {
    height: 100px;
}

section.montage .els.sbenefit .el .icon img {
}

section.montage .els.sbenefit .el .info {
    color: #000;
}

section.montage .els.sbenefit .el .info .title {
    font-size: 18px;
    line-height: 1.25em;
    min-height: 46px;
}

section.montage .els.sbenefit .el .info .desc {
    color: #acacac;
    font-family: "circe-l";
    font-size: 18px;
    line-height: 1.25em;
    margin-top: 15px;
}

section.montage .wrap .app-form {
    width: 100%;
    display: table;
    height: 130px;
    /* Old browsers */
    background: #4c87ff;
    /* FF3.6-15 */
    background: -moz-linear-gradient(left, #4c87ff 0%, #9abbff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(left, #4c87ff 0%, #9abbff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to right, #4c87ff 0%, #9abbff 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#4c87ff', endColorstr='#9abbff', GradientType=1);
}

section.montage .wrap .app-form .row {
    display: table-row;
}

section.montage .wrap .app-form .row .left {
    display: table-cell;
    height: 130px;
    vertical-align: middle;
    padding-left: 40px;
    width: 50%;
    font-family: "circe-b";
    font-size: 30px;
    color: #fff;
    line-height: 35px;
}

section.montage .wrap .app-form .row .right {
    display: table-cell;
    height: 130px;
    vertical-align: middle;
    padding-right: 40px;
}

section.montage .wrap .app-form .row .right input {
    width: 180px;
    float: right;
    margin-right: 20px;
}

section.montage .wrap .app-form .row .right a {
    width: 150px;
    float: right;
}

/* \section montage */

/* section two-column-form */
section.two-column-form {
    width: 100%;
    background: #f4f7ff;
}

section.two-column-form .wrap {
    width: 1170px;
    min-width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
}

section.two-column-form .wrap .left {
    width: 585px;
    height: 310px;
    float: left;
    /* Old browsers */
    position: relative;
    background: #4c87ff;
    /* FF3.6-15 */
    background: -moz-linear-gradient(-45deg, #4c87ff 0%, #9abbff 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(-45deg, #4c87ff 0%, #9abbff 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(135deg, #4c87ff 0%, #9abbff 99%);
    /* IE6-9 fallback on horizontal gradient */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#4c87ff', endColorstr='#9abbff', GradientType=1);
    overflow: hidden;
}

section.two-column-form .wrap .right {
    width: 515px;
    height: 250px;
    float: left;
    background: #fd9304;
    position: relative;
    overflow: hidden;
    padding: 30px 35px;
}

section.two-column-form .wrap .right .bg {
    position: absolute;
    bottom: 12px;
    right: -48px;
}

section.two-column-form .wrap .right .title {
    float: left;
    clear: both;
    font-size: 48px;
    font-family: "circe-eb";
    color: #fff;
    line-height: 48px;
    max-width: 300px;
    text-shadow: 5px 8px 0 rgba(255, 255, 255, 0.2);
}

section.two-column-form .wrap .right ul {
    float: left;
    clear: both;
    margin-top: 15px;
}

section.two-column-form .wrap .right a.button-yellow {
    float: left;
    clear: both;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 15px;
}
section.two-column-form .wrap .right a.button-yellow:hover {
    background: rgba(255, 255, 255, 0.3);
}

section.two-column-form .wrap .right ul li {
    font-size: 18px;
    color: #fff;
    background: url("../images/ul-style.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ul-style.png*/) no-repeat 0 11px;
    padding-left: 16px;
}

section.two-column-form .wrap .left .title {
    font-size: 48px;
    font-family: "circe-eb";
    color: #fff;
    line-height: 48px;
    position: absolute;
    top: 32px;
    left: 35px;
    max-width: 300px;
    text-shadow: 5px 8px 0 rgba(255, 255, 255, 0.2);
}

section.two-column-form .wrap .left .tabs {
    width: 100%;
    height: 310px;
    position: relative;
}

section.two-column-form .wrap .left .tabs .tab {
    width: 100%;
    height: 310px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

section.two-column-form .wrap .left .tabs .tab .content {
    position: absolute;
    left: 35px;
    top: 160px;
}

section.two-column-form .wrap .left .tabs .tab .content .name {
    font-family: "circe-b";
    font-size: 18px;
    color: #fff;
    line-height: 22px;
}

section.two-column-form .wrap .left .tabs .tab .content .post {
    color: #fff;
    font-family: "circe-l";
    font-size: 18px;
}

section.two-column-form .wrap .left .tabs .tab .foto {
    position: absolute;
    bottom: 0;
    right: 0;
}

section.two-column-form .wrap .left .control {
    height: 45px;
    position: absolute;
    left: 35px;
    bottom: 24px;
    z-index: 2;
}

section.two-column-form .wrap .left .control .r,
section.two-column-form .wrap .left .control .l {
    float: left;
    width: 43px;
    height: 43px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

section.two-column-form .wrap .left .control .l {
    background: url("../images/ps-left-white.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-left-white.png*/) center center no-repeat;
    margin-right: 20px;
}

section.two-column-form .wrap .left .control .r {
    background: url("../images/ps-right-white.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-right-white.png*/) center center no-repeat;
}

section.two-column-form .wrap .left .control .r:hover,
section.two-column-form .wrap .left .control .l:hover {
    border-color: #5367ff;
}

/* \section two-column-form */

/* section promo-slider */
section.promo-slider {
    width: 100%;
    background: #f4f7ff;
}

section.promo-slider .bg {
    width: 1370px;
    min-width: 1370px;
    max-width: 1370px;
    margin: 0 auto;
    background: url("../res/s1.jpg"/*tpa=http://lipetsk.km-okna.ru/global/res/s1.jpg*/) 0 0 no-repeat;
    height: 600px;
}
section.promo-slider_balcony .bg {
    background-image: url("../res/s2.jpg"/*tpa=http://lipetsk.km-okna.ru/global/res/s2.jpg*/);
}

section.promo-slider .bg .wrap {
    width: 1170px;
    min-width: 1170px;
    max-width: 1170px;
    height: 600px;
    background: none;
    margin: 0 auto;
}

section.promo-slider .bg .wrap .title {
    font-size: 72px;
    font-family: "circe-eb";
    color: #fff;
    line-height: 72px;
    padding-top: 80px;
}

section.promo-slider .bg .wrap .subtitle {
    color: #fff;
    font-size: 24px;
    max-width: 470px;
    margin-top: 25px;
}

section.promo-slider .bg .wrap .subtitle span {
    display: block;
    float: left;
    background: #cfc0ac;
    margin-bottom: 5px;
    padding: 0 5px;
}
section.promo-slider_balcony .bg .wrap .subtitle span {
    background: #98a0a7;
}

section.promo-slider .bg .wrap .subtitle span:last-child {
    margin-bottom: 0;
}

section.promo-slider .bg .wrap .form {
    margin-top: 35px;
    vertical-align: top;
}

section.promo-slider .bg .wrap .form .form-field {
    display: inline-block;
    vertical-align: top;
}

section.promo-slider .bg .wrap .form input {
    width: 180px;
    margin-right: 5px;
}

section.promo-slider .bg .wrap .form a {
    width: 150px;
}

section.promo-slider .bg .wrap .cta-thanks {
    margin-left: 10px;
    line-height: 21px;
    font-size: 16px;
}

/* \section promo-slider */

/* section prod */
section.prod {
    width: 100%;
    background: #f4f7ff;
    padding-top: 70px;
}

section.prod .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
    background: #fff;
}

section.prod .wrap > .title {
    font-family: "circe-eb";
    font-size: 40px;
    color: #000;
    text-align: center;
    line-height: 36px;
    padding-top: 50px;
    padding-bottom: 55px;
}

section.prod .wrap .els.production {
}

section.prod .wrap .els.production .row {
    margin-bottom: 75px;
    padding-left: 50px;
}

section.prod .wrap .els.production .row:last-child {
    margin-bottom: 0;
}

section.prod .wrap .els.production .row .el {
    float: left;
    width: 245px;
    margin-right: 30px;
}

section.prod .wrap .els.production .row .el:last-child {
    margin-right: 0;
}

section.prod .wrap .els.production .row .el > .title {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    min-height: 56px;
}

section.prod .wrap .els.production .row .el > .title span {
    display: block;
    font-family: "circe-b";
    color: #fd9100;
}

section.prod .wrap .els.production .row .el .tabs {
}

section.prod .wrap .els.production .row .el .tabs .tab {
    display: none;
}

section.prod .wrap .els.production .row .el .tabs .tab.active {
    display: block;
}

section.prod .wrap .els.production .row .el .tabs .tab.active .icon {
    display: table;
}

section.prod .wrap .els.production .row .el .tabs .tab.active .icon .inner {
    display: table-cell;
    width: 245px;
    height: 150px;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;
}

section.prod .wrap .els.production .row .el .tabs .tab.active .title {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

section.prod .wrap .els.production .row .el .tabs .tab.active .desc {
    margin-top: 15px;
    height: 80px;
    font-size: 18px;
    color: #acacac;
    text-align: center;
    font-family: "circe-l";
}

section.prod .wrap .els.production .row .el .control {
    width: 110px;
    height: 45px;
    margin-top: 30px;
    margin: 0 auto;
    margin-top: 25px;
}

section.prod .wrap .els.production .row .el .control .r,
section.prod .wrap .els.production .row .el .control .l {
    display: none;
    float: left;
    width: 43px;
    height: 43px;
    cursor: pointer;
    border: 1px solid #e8f0ff;
    border-radius: 25px;
}

section.prod .wrap .els.production .row .el .control .l {
    background: url("../images/ps-left.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-left.png*/) center center no-repeat;
    margin-right: 12px;
}

section.prod .wrap .els.production .row .el .control .r {
    background: url("../images/ps-right.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-right.png*/) center center no-repeat;
}

section.prod .wrap .els.production .row .el .control .r:hover,
section.prod .wrap .els.production .row .el .control .l:hover {
    border-color: #508bff;
    background-color: #e8f0ff;
}

section.prod .wrap .win-slider {
    width: 1030px;
    min-width: 1030px;
    max-width: 1030px;
    margin: 40px auto 0;
}

section.prod .wrap .win-slider .right {
    width: 460px;
    float: left;
}

section.prod .wrap .win-slider .right .images {
    position: relative;
    height: 520px;
    display: table-cell;
    vertical-align: middle;
    background: url("../images/loader.gif"/*tpa=http://lipetsk.km-okna.ru/global/images/loader.gif*/) center center no-repeat;
}

section.prod .wrap .win-slider .right .images .bg {
    position: absolute;
    top: 27px;
    left: 44px;
}

section.prod .wrap .win-slider .right .images .image {
    display: inline-block;
    width: 440px;
}

section.prod .wrap .win-slider .right .images .image.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

section.prod .wrap .win-slider .left {
    width: 420px;
    margin-right: 120px;
    float: left;
}

section.prod .wrap .win-slider .left .title {
    font-size: 36px;
    color: #000;
    margin-top: 50px;
}

section.prod .wrap .win-slider .left .desc {
    font-family: "circe-l";
    font-size: 24px;
    color: #b8b8b8;
    line-height: 30px;
    margin-top: 30px;
}

section.prod .wrap .win-slider .left .selected {
    margin-top: 95px;
    float: left;
}

section.prod .wrap .win-slider .left .selected .l,
section.prod .wrap .win-slider .left .selected .r {
    float: left;
    width: 43px;
    height: 43px;
    cursor: pointer;
    border: 1px solid #dde1ff;
    border-radius: 25px;
}

section.prod .wrap .win-slider .left .selected .l {
    background: url("../images/ps-left.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-left.png*/) center center no-repeat;
    margin-right: 15px;
}

section.prod .wrap .win-slider .left .selected .r {
    background: url("../images/ps-right.png"/*tpa=http://lipetsk.km-okna.ru/global/images/ps-right.png*/) center center no-repeat;
    margin-left: 15px;
}

section.prod .wrap .win-slider .left .selected .l:hover,
section.prod .wrap .win-slider .left .selected .r:hover {
    border-color: #508bff;
    background-color: #e8f0ff;
}

section.prod .wrap .win-slider .left .selected .c {
    float: left;
    width: 225px;
    height: 55px;
    overflow: hidden;
}

section.prod .wrap .win-slider .left .selected .c .els.color {
    position: relative;
    width: 300px;
}

section.prod .wrap .win-slider .left .selected .c .els.color .el {
    float: left;
    width: 43px;
    height: 43px;
    border: 1px solid #dde1ff;
    border-radius: 25px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    background-position: 0 0;
    background-repeat: no-repeat;
}

section.prod .wrap .win-slider .left .selected .c .els.color .el:last-child {
    margin-right: 0;
}

section.prod .wrap .win-slider .left .selected .c .els.color .el:hover,
section.prod .wrap .win-slider .left .selected .c .els.color .el.active {
    border-color: #508bff;
}

section.prod .wrap .win-slider .left .selected .c .els.color .el.active {
    cursor: default;
}

section.prod .wrap .win-slider .left .selected .c .els.color .el .border {
    width: 100%;
    height: 1px;
    background: #dde1ff;
    position: absolute;
    bottom: -10px;
    left: 0;
}

section.prod .wrap .win-slider .left .selected .c .els.color .el.active .border {
    background: #508bff;
}

section.prod .wrap .win-slider .left .selected .clabel {
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

/* \section prod */

/* section mmenu */
section.mmenu {
    width: 100%;
    background: #fff;
}

section.mmenu .wrap {
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
}

section.mmenu .wrap ul {
    margin: 0 auto;
    height: 50px;
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    /*text-justify: newspaper;*/
    zoom: 1;
    text-align-last: justify;
}

section.mmenu .wrap ul:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

section.mmenu .wrap ul li {
    text-transform: uppercase;
    height: 50px;
    padding-top: 15px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
}

section.mmenu .wrap ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: "circe-eb";
    font-size: 14px;
}

section.mmenu .wrap ul li a:hover {
    color: #fd9100;
}

/* \section mmenu */

/* header */
header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #bbb;
}

header .wrap {
    position: relative;
    margin: 0 auto;
    width: 1170px;
    max-width: 1170px;
    min-width: 1170px;
    height: 64px;
    text-align: right;
    vertical-align: top;
}

header .wrap .logo {
    position: absolute;
    left: 0;
    top: 12px;
    padding: 1px 0 0 54px;
    height: 39px;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000;
    font-family: "circe-eb";
    background: url("../images/km_logo.png"/*tpa=http://lipetsk.km-okna.ru/global/images/km_logo.png*/) left top no-repeat;
    text-decoration: none;
}

/*header .wrap .logo:hover {color: #000;}*/
header .wrap .call {
    position: relative;
    display: inline-block;
    top: 14px;
    height: 72px;
    vertical-align: middle;
    letter-spacing: 0.05em;
}

header .wrap .call .phone {
    font-size: 22px;
    font-family: "circe-l";
    color: #bbb;
    line-height: 22px;
}

header .wrap .call .phone span {
    color: #000;
    font-family: "circe-b";
}

header .wrap .call .info {
    font-size: 14px;
    font-family: "circe-l";
    color: #bcbcbc;
}

/*header .wrap .city {
    display: inline-block;
    width: 240px;
    height: 72px;
    vertical-align: middle;
    font-size: 16px;
    font-family: "circe-l";
}

header .wrap .city a {
    text-decoration: none;
    color: #5367ff;
    border-bottom: 1px dotted #5367ff;
}*/

/*header .wrap .additional {*/
    /*display: table-cell;*/
    /*width: 210px;*/
    /*height: 72px;*/
    /*vertical-align: middle;*/
/*}*/

/*header .wrap .additional .el {*/
    /*float: left;*/
    /*font-family: "circe-l";*/
    /*font-size: 16px;*/
    /*line-height: 28px;*/
    /*position: relative;*/
    /*margin-right: 25px;*/
/*}*/

/*header .wrap .additional .el:last-child {*/
    /*margin-right: 0;*/
/*}*/

/*header .wrap .additional .el sup {*/
    /*font-size: 14px;*/
    /*color: #bcbcbc;*/
    /*top: -5px;*/
    /*position: relative;*/
    /*right: 2px;*/
/*}*/

header .wrap .to-calc {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 20px;
    vertical-align: top;
}

/* \header */

/* common styles */
section.to-promo-slider {
    padding-top: 0;
    position: relative;
    top: -65px;
    background: none;
}

.button-yellow {
    display: block;
    background: #fd9100;
    text-decoration: none;
    height: 42px;
    line-height: 44px;
    padding: 0 25px;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.button-yellow:hover {
    background: #fdad00;
    color: #fff;
}

.button-border-yellow {
    display: block;
    float: left;
    text-decoration: none;
    font-size: 16px;
    color: #fd9100;
    line-height: 10px;
    padding: 17px 25px;
    background: none;
    border: 1px solid #fd9100;
    border-radius: 25px;
}

.button-border-yellow:hover {
    color: #fd9100;
}

.radio {
}

.radio .el {
    float: left;
    background: #fff;
    font-size: 16px;
    color: #2d72fc;
    border: 1px solid #e1ebff;
    border-right: none;
    line-height: 10px;
    padding: 17px 35px 16px 35px;
    cursor: pointer;
}

.radio .el:last-child {
    border-right: 1px solid #e1ebff;
    border-radius: 0 30px 30px 0;
}

.radio .el:first-child {
    border-right: 1px solid #e1ebff;
    border-radius: 30px 0 0 30px;
}

.radio .el.active {
    background: #6698ff;
    color: #fff;
    cursor: default;
    border: 1px solid #6698ff;
}

input.input-form {
    padding: 10px 15px 8px 23px;
    height: 23px;
    font-size: 16px;
    color: #fff;
    line-height: 15px;
    font-family: "circe-b";
    letter-spacing: 0.15em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: url("../images/input-phone.png"/*tpa=http://lipetsk.km-okna.ru/global/images/input-phone.png*/) 0 13px no-repeat;
    background-color: transparent;
    display: block;
}

input.input-form-border {
    padding: 9px 15px 8px 40px;
    height: 23px;
    font-size: 16px;
    color: #4d463b;
    line-height: 15px;
    font-size: 16px;
    font-family: "circe-b";
    letter-spacing: 0.15em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: url("../images/input-phone-gray.png"/*tpa=http://lipetsk.km-okna.ru/global/images/input-phone-gray.png*/) 17px 13px no-repeat;
    background-color: #fff;
    display: block;
    border-radius: 35px;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    letter-spacing: normal !important;
    color:    #bbb;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    letter-spacing: normal !important;
    color:    #bbb;
    opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    letter-spacing: normal !important;
    color:    #bbb;
    opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    letter-spacing: normal !important;
    color:    #bbb;
}

.montage input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #e3ecff;
}
.montage input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #e3ecff;
}
.montage input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #e3ecff;
}
.montage input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #e3ecff;
}

input.sinput {
    border: 1px solid #f1f1f1;
    padding: 14px;
    font-family: "circe-l";
    font-size: 24px;
    color: #000;
    line-height: 24px;
    width: 90%;
    border-radius: 2px;
}

span.r {
    font-family: "rouble";
}

/* \common styles */

/* CTA LIGHTBOX */

div.lightbox.lightbox_cta {
    width: 500px;
    padding: 40px 20px;
    border-radius: 5px;
}

.lightbox .cta {
    text-align: center;
}

.lightbox .cta .title {
    margin-bottom: 20px;
    font-family: "circe-eb";
    font-size: 27px;
}

.lightbox .cta .button-yellow,
.lightbox .cta .input-form-border {
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
}

.lightbox .cta .input-form-border {
    border: 2px solid #ffcd8a;
    width: 180px;
    margin-right: 10px;
}
.lightbox .cta .input-form-border:focus {
    border: 2px solid #fd9100;
}

.cta-thanks,
.cta_thanks .cta-form,
.cta_load .cta-form{
    display: none;
}

.cta_thanks .cta-thanks,
.cta_load .cta-thanks {
    display: inline;
}

.cta-field {
    position: relative;
}

.cta_thanks .cta-field-wrap,
.cta_load .cta-field-wrap {
    position: relative;
    opacity: 0.25;
    display: block;
}
.cta_thanks .cta-field-wrap:after,
.cta_load .cta-field-wrap:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: " ";
    z-index: 1;
}
