html{margin:0;padding:0;border:0;}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,
del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,
section,menu{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:"circe-r"}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:normal;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img, input{border:none;}
ul, ol {list-style: none;}
:focus{outline:0;}
img{padding:0; margin:0; line-height:normal; vertical-align: bottom;}

input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}