@import url("1170more.css"/*tpa=http://lipetsk.km-okna.ru/global/css/1170more.css*/);

/*
* use reduction:
* 
*
*
*/

body, button, input, select, textarea {font-family: Arial; font-size: 14px;}
a {border: none; color: #0182b9;}
a:hover {color: #ce4e3e;}
a img {border-bottom-style: none;}
/* CHANGE */
body, html {padding: 0px; margin: 0px; height: 100%; min-height: 100%; 
	position: relative; min-width: 320px; background: #f4f7ff;}
/* \CHANGE */
.after:after {content: "."; display: block; clear: both; height: 0; 
	visibility: hidden;}
