.lightboxMode .lightbox-fix {
    position: fixed;
    width: 100%;
}

.lightbox-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #222221;
    z-index: 10;
}

.lightbox-overlay {
    display: none;
    position: relative;
    padding: 40px 20px;
    z-index: 11;
}

.lightboxMode .lightbox-bg,
.lightboxMode .lightbox-overlay {
    display: block;
}

.lightbox {
    display: none;
    margin: 0 auto;
    padding: 22px 22px 24px 22px;
    position: relative;
    width: 906px;
    background-color: #fff;
}
.lightbox_video {
    width: 560px;
    height: 360px;
    padding: 0;
    background-color: #0f0f0f;
}

.lightbox-close {
    position: absolute;
    right: -40px;
    top: 0;
    width: 33px;
    height: 33px;
    background: url("close_black.png"/*tpa=http://lipetsk.km-okna.ru/global/css/lightbox/close_black.png*/) no-repeat;
    cursor: pointer;
    opacity: 0.5;
}
.lightbox-close:hover {
    opacity: 1;
}
