.oneBullit {
    margin: 70px auto 0;
    padding: 50px 80px 60px;
    width: 1010px;
    background-color: #fff;
    font-size: 0;
}

.oneBullit-content,
.oneBullit-list {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

/* Content */

.oneBullit-content {
    margin-right: 5%;
    width: 50%;
}
.oneBullit-title {
    text-align: left;
}
.oneBullit-desc {
    line-height: 1.38em;
    font-size: 18px;
}

.oneBullit-list {
    margin-left: 5%;
    width: 40%;
}

/* Items */

.oneBullit-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 90px;
    padding-top: 5px;
    min-height: 64px;
}
.oneBullit-item:last-child {
    margin-bottom: 0;
}
.oneBullit-item:before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 64px;
    height: 64px;
}
.oneBullit-item_new:before,
.oneBullit-item_sound:before,
.oneBullit-item_cool:before {
    background: url("items.png"/*tpa=http://lipetsk.km-okna.ru/global/blocks/oneBullit/items.png*/) no-repeat;
}
.oneBullit-item_new:before   { background-position: 0 0; }
.oneBullit-item_sound:before { background-position: 0 -64px; }
.oneBullit-item_cool:before  { background-position: 0 -128px; }

.oneBullit-item-title {
    margin-bottom: 5px;
    font-size: 24px;
}

.oneBullit-item-desc {
    line-height: 1.25em;
    font-size: 18px;
    color: #acacac;
}