.f-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'circe-eb','Segoe UI', Arial, sans-serif;
}

.f-subHeader {
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'circe-eb','Segoe UI', Arial, sans-serif;
}

.f-regular {
    font-family: 'circe-r','Segoe UI', Arial, sans-serif;
}

.f-light {
    font-family: 'circe-l','Segoe UI', Arial, sans-serif;
}