@font-face {
    font-family: 'circe-b';
    src: url("circe-b/circe-b.eot"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-b/circe-b.eot*/);
    src: local('☺'), url("circe-b/circe-b.woff"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-b/circe-b.woff*/) format('woff'),
    url("circe-b/circe-b.ttf"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-b/circe-b.ttf*/) format('truetype'),
    url("circe-b/circe-b.svg"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-b/circe-b.svg*/) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe-eb';
    src: url("circe-eb/circe-eb.eot"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-eb/circe-eb.eot*/);
    src: local('☺'), url("circe-eb/circe-eb.woff"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-eb/circe-eb.woff*/) format('woff'),
    url("circe-eb/circe-eb.ttf"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-eb/circe-eb.ttf*/) format('truetype'),
    url("circe-eb/circe-eb.svg"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-eb/circe-eb.svg*/) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe-el';
    src: url("circe-el/circe-el.eot"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-el/circe-el.eot*/);
    src: local('☺'), url("circe-el/circe-el.woff"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-el/circe-el.woff*/) format('woff'),
    url("circe-el/circe-el.ttf"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-el/circe-el.ttf*/) format('truetype'),
    url("circe-el/circe-el.svg"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-el/circe-el.svg*/) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe-l';
    src: url("circe-l/circe-l.eot"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-l/circe-l.eot*/);
    src: local('☺'), url("circe-l/circe-l.woff"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-l/circe-l.woff*/) format('woff'),
    url("circe-l/circe-l.ttf"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-l/circe-l.ttf*/) format('truetype'),
    url("circe-l/circe-l.svg"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-l/circe-l.svg*/) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe-r';
    src: url("circe-r/circe-r.eot"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-r/circe-r.eot*/);
    src: local('☺'), url("circe-r/circe-r.woff"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-r/circe-r.woff*/) format('woff'),
    url("circe-r/circe-r.ttf"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-r/circe-r.ttf*/) format('truetype'),
    url("circe-r/circe-r.svg"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-r/circe-r.svg*/) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe-t';
    src: url("circe-t/circe-t.eot"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-t/circe-t.eot*/);
    src: local('☺'), url("circe-t/circe-t.woff"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-t/circe-t.woff*/) format('woff'),
    url("circe-t/circe-t.ttf"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-t/circe-t.ttf*/) format('truetype'),
    url("circe-t/circe-t.svg"/*tpa=http://lipetsk.km-okna.ru/global/fonts/circe-t/circe-t.svg*/) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rouble';
    src: url("rouble/rouble.eot"/*tpa=http://lipetsk.km-okna.ru/global/fonts/rouble/rouble.eot*/);
    src: local('☺'), url("rouble/rouble.woff"/*tpa=http://lipetsk.km-okna.ru/global/fonts/rouble/rouble.woff*/) format('woff'),
    url("rouble/rouble.ttf"/*tpa=http://lipetsk.km-okna.ru/global/fonts/rouble/rouble.ttf*/) format('truetype'),
    url("rouble/rouble.svg"/*tpa=http://lipetsk.km-okna.ru/global/fonts/rouble/rouble.svg*/) format('svg');
    font-weight: normal;
    font-style: normal;
}